/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistSans_1e4310';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistSans_Fallback_1e4310';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}.__variable_1e4310 {--font-geist-sans: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistMono_c3aa02';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistMono_Fallback_c3aa02';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}.__variable_c3aa02 {--font-geist-mono: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.12 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left-0 {
  left: 0px;
}
.right-10 {
  right: 2.5rem;
}
.top-0 {
  top: 0px;
}
.top-5 {
  top: 1.25rem;
}
.bottom-0 {
  bottom: 0px;
}
.right-0 {
  right: 0px;
}
.bottom-5 {
  bottom: 1.25rem;
}
.bottom-10 {
  bottom: 2.5rem;
}
.bottom-8 {
  bottom: 2rem;
}
.bottom-7 {
  bottom: 1.75rem;
}
.right-20 {
  right: 5rem;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-\[11\] {
  z-index: 11;
}
.z-\[12\] {
  z-index: 12;
}
.z-\[13\] {
  z-index: 13;
}
.z-\[14\] {
  z-index: 14;
}
.z-\[15\] {
  z-index: 15;
}
.z-\[16\] {
  z-index: 16;
}
.z-\[17\] {
  z-index: 17;
}
.z-\[18\] {
  z-index: 18;
}
.z-\[19\] {
  z-index: 19;
}
.z-\[1\] {
  z-index: 1;
}
.z-\[21\] {
  z-index: 21;
}
.z-\[2\] {
  z-index: 2;
}
.z-\[3\] {
  z-index: 3;
}
.z-\[4\] {
  z-index: 4;
}
.z-\[5\] {
  z-index: 5;
}
.z-\[6\] {
  z-index: 6;
}
.z-\[7\] {
  z-index: 7;
}
.z-\[8\] {
  z-index: 8;
}
.z-\[9\] {
  z-index: 9;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.ml-\[2vw\] {
  margin-left: 2vw;
}
.ml-\[3vw\] {
  margin-left: 3vw;
}
.mr-0 {
  margin-right: 0px;
}
.mt-\[05vw\] {
  margin-top: 05vw;
}
.mt-\[3px\] {
  margin-top: 3px;
}
.mr-\[10vw\] {
  margin-right: 10vw;
}
.ml-\[10vw\] {
  margin-left: 10vw;
}
.ml-\[40vw\] {
  margin-left: 40vw;
}
.ml-\[50vw\] {
  margin-left: 50vw;
}
.flex {
  display: flex;
}
.h-\[10vw\] {
  height: 10vw;
}
.h-\[16px\] {
  height: 16px;
}
.h-\[18px\] {
  height: 18px;
}
.h-\[22px\] {
  height: 22px;
}
.h-\[24px\] {
  height: 24px;
}
.h-\[25vw\] {
  height: 25vw;
}
.h-\[2vw\] {
  height: 2vw;
}
.h-\[304px\] {
  height: 304px;
}
.h-\[315px\] {
  height: 315px;
}
.h-\[38px\] {
  height: 38px;
}
.h-\[40px\] {
  height: 40px;
}
.h-\[4vw\] {
  height: 4vw;
}
.h-\[50vw\] {
  height: 50vw;
}
.h-\[65px\] {
  height: 65px;
}
.h-\[92px\] {
  height: 92px;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-\[9vw\] {
  height: 9vw;
}
.h-\[5vw\] {
  height: 5vw;
}
.h-\[7vw\] {
  height: 7vw;
}
.h-\[8vw\] {
  height: 8vw;
}
.h-\[219px\] {
  height: 219px;
}
.h-\[20vw\] {
  height: 20vw;
}
.h-\[40vw\] {
  height: 40vw;
}
.w-\[143\.98px\] {
  width: 143.98px;
}
.w-\[1687px\] {
  width: 1687px;
}
.w-\[16vw\] {
  width: 16vw;
}
.w-\[18vw\] {
  width: 18vw;
}
.w-\[20vw\] {
  width: 20vw;
}
.w-\[23\.98px\] {
  width: 23.98px;
}
.w-\[24px\] {
  width: 24px;
}
.w-\[262px\] {
  width: 262px;
}
.w-\[264px\] {
  width: 264px;
}
.w-\[40vw\] {
  width: 40vw;
}
.w-\[472px\] {
  width: 472px;
}
.w-\[520px\] {
  width: 520px;
}
.w-\[60vw\] {
  width: 60vw;
}
.w-\[89px\] {
  width: 89px;
}
.w-full {
  width: 100%;
}
.w-\[229px\] {
  width: 229px;
}
.w-\[10vw\] {
  width: 10vw;
}
.w-\[15vw\] {
  width: 15vw;
}
.shrink-0 {
  flex-shrink: 0;
}
.grow {
  flex-grow: 1;
}
.basis-0 {
  flex-basis: 0px;
}
.basis-auto {
  flex-basis: auto;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.gap-\[10px\] {
  gap: 10px;
}
.gap-\[12px\] {
  gap: 12px;
}
.gap-\[16px\] {
  gap: 16px;
}
.gap-\[24px\] {
  gap: 24px;
}
.gap-\[2vw\] {
  gap: 2vw;
}
.gap-\[8px\] {
  gap: 8px;
}
.gap-\[6vw\] {
  gap: 6vw;
}
.gap-\[1vw\] {
  gap: 1vw;
}
.gap-x-5 {
  column-gap: 1.25rem;
}
.self-stretch {
  align-self: stretch;
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-\[8px\] {
  border-radius: 8px;
}
.rounded-\[137px\] {
  border-radius: 137px;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-none {
  border-style: none;
}
.border-\[\#2c2c2c\] {
  --tw-border-opacity: 1;
  border-color: rgb(44 44 44 / var(--tw-border-opacity));
}
.border-\[\#d9d9d9\] {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity));
}
.border-b-\[\#d9d9d9\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(217 217 217 / var(--tw-border-opacity));
}
.bg-\[\#2c2c2c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(44 44 44 / var(--tw-bg-opacity));
}
.bg-\[\#e5dece\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 222 206 / var(--tw-bg-opacity));
}
.bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-\[length\:100\%_100\%\] {
  background-size: 100% 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pb-\[12px\] {
  padding-bottom: 12px;
}
.pb-\[160px\] {
  padding-bottom: 160px;
}
.pb-\[16px\] {
  padding-bottom: 16px;
}
.pb-\[24px\] {
  padding-bottom: 24px;
}
.pb-\[30px\] {
  padding-bottom: 30px;
}
.pb-\[6vw\] {
  padding-bottom: 6vw;
}
.pl-0 {
  padding-left: 0px;
}
.pl-\[12px\] {
  padding-left: 12px;
}
.pl-\[16px\] {
  padding-left: 16px;
}
.pl-\[24px\] {
  padding-left: 24px;
}
.pl-\[2vw\] {
  padding-left: 2vw;
}
.pl-\[32px\] {
  padding-left: 32px;
}
.pl-\[64px\] {
  padding-left: 64px;
}
.pr-0 {
  padding-right: 0px;
}
.pr-\[12px\] {
  padding-right: 12px;
}
.pr-\[16px\] {
  padding-right: 16px;
}
.pr-\[24px\] {
  padding-right: 24px;
}
.pr-\[32px\] {
  padding-right: 32px;
}
.pr-\[64px\] {
  padding-right: 64px;
}
.pt-0 {
  padding-top: 0px;
}
.pt-\[12px\] {
  padding-top: 12px;
}
.pt-\[1vw\] {
  padding-top: 1vw;
}
.pt-\[20px\] {
  padding-top: 20px;
}
.pt-\[24px\] {
  padding-top: 24px;
}
.pt-\[2vw\] {
  padding-top: 2vw;
}
.pt-\[32px\] {
  padding-top: 32px;
}
.pt-\[3vw\] {
  padding-top: 3vw;
}
.pt-\[5vw\] {
  padding-top: 5vw;
}
.pt-\[3px\] {
  padding-top: 3px;
}
.pr-\[3vw\] {
  padding-right: 3vw;
}
.pb-\[8vw\] {
  padding-bottom: 8vw;
}
.pl-\[4px\] {
  padding-left: 4px;
}
.pl-\[4vw\] {
  padding-left: 4vw;
}
.pb-\[3vw\] {
  padding-bottom: 3vw;
}
.pl-\[1vw\] {
  padding-left: 1vw;
}
.pt-\[4vw\] {
  padding-top: 4vw;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-\[\'Inter\'\] {
  font-family: 'Inter';
}
.text-\[0px\] {
  font-size: 0px;
}
.text-\[1\.6vw\] {
  font-size: 1.6vw;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[25px\] {
  font-size: 25px;
}
.text-\[3vw\] {
  font-size: 3vw;
}
.text-\[6vw\] {
  font-size: 6vw;
}
.text-\[1vw\] {
  font-size: 1vw;
}
.text-\[2vw\] {
  font-size: 2vw;
}
.text-\[1\.5vw\] {
  font-size: 1.5vw;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.leading-\[1\.1\] {
  line-height: 1.1;
}
.leading-\[1\.25\] {
  line-height: 1.25;
}
.leading-\[16px\] {
  line-height: 16px;
}
.leading-\[22\.4px\] {
  line-height: 22.4px;
}
.leading-\[22px\] {
  line-height: 22px;
}
.leading-\[2vw\] {
  line-height: 2vw;
}
.leading-\[38px\] {
  line-height: 38px;
}
.tracking-\[-0\.3vw\] {
  letter-spacing: -0.3vw;
}
.text-\[\#000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-\[\#1e1e1e\] {
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity));
}
.text-\[\#757575\] {
  --tw-text-opacity: 1;
  color: rgb(117 117 117 / var(--tw-text-opacity));
}
.text-\[\#b3b3b3\] {
  --tw-text-opacity: 1;
  color: rgb(179 179 179 / var(--tw-text-opacity));
}
.text-\[\#f5f5f5\] {
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity));
}
.text-\[1\.3\] {
  color: 1.3;
}
.underline {
  text-decoration-line: underline;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-70 {
  opacity: 0.7;
}

:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }

  main-containerNav {
    overflow: hidden;
  }
  
  /* banner-main-container{
    overflow: hidden;
  } */
  
  .main-containerNav,
  .main-container * {
    box-sizing: border-box;
  }
